body {
 	font-family: 'Varela Round', sans-serif;
	background: #ebe6ec;
}


.loginPage {
	background-image: url("../images/bg-image.jpg");
	filter: blur(8px);
	-webkit-filter: blur(3px);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.loginBox {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 50%;
	padding: 10px 30px;
	border-radius: 0;
}


.font-bold {
	font-weight: bold;
}
.br-0 {
	border-radius: 0;
}

.text-white{
	color: #fff;
}

.text-dec-none{
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.customBtn {
	margin-top: 9px;
	margin-right: 5px;
}

.iconBtn {
	margin-top: -3px;
	padding: 2px 10px;
}

.loginPage .myPanel {
	border-radius: 0;
	width: 50%;
	margin: auto;
	margin-top: 10%;
}

.primary-color {
	color: #fff !important;
	background-color: #5e2572 !important;
	border-color: #5e2572 !important;
}
